server:
  port: 8086
spring:
  application:
    name: securityhub
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/?user=root&useSSL=false&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          dialect: org.hibernate.dialect.MySQL8Dialect
